.App {
  text-align: center;
}

.App-title {
  line-height: 0.85em;
  height: 175px;
}

h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 200px;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
}

h3 {
  font-size: 20px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F4F4F;
}

li {
  list-style-type: none;
  height: 60px;
}

.link-style {
  float: center;
  display: inline-block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-variant: small-caps;
  color: white;
}

.link-style a:hover {
 color: white;
}

.link-style a:visited {
 color: white;
}

.spa-image {
  max-width: 100%;
  max-height: 50%;
  margin-top: -20px;
  overflow: hidden;
}

.about {
margin: auto;
font-size: 20px;
color: #2F4F4F;
font-family: 'Muli', sans-serif;
background-color: white ;
height: 350px;
margin-top: -20px;
text-align: left;
}

.about-font {
  padding-left: 50px;
  padding-right: 50px;
}

.xperiences {
  width: 300px;
  height: 200px;
  opacity: .8;

}

.post-content {
    color: white;
    margin: auto;
    margin-top: -54px;
    text-align:center;
    position: relative;
    width:40%;
}
.experienceLinks {
  font-size: 20px;
  display: inline-block;
  padding-left: 110px;
  padding-right: 110px;
  font-family: 'Muli', sans-serif;
  font-variant: small-caps;
}

.experienceLinks a{
  color: #2F4F4F;
}
.experienceLinks a:visited {
    color: #2F4F4F;
}

.ExperiencesDiv {
  background-color: white ;
  height: 400px;
  margin-top: -20px;
}

.IndivExTitle{
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 50px;
}

.services {
  font-size: 20px;
  color: white;
  font-family: 'Muli', sans-serif;
  background-image: url('../aboutus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: -20px;
  text-align: left;
  font-variant: small-caps;
}

.ServicesButtons{
  display: flex;
  align-content: center;
  justify-content: center;
}
.ServicesLinks {
  background-color: white;
  color: #2F4F4F;
  display: inline-block;
  padding:20px;
  margin: 50px;
  border-radius: 10px;
}
.ServicesLinks a, a:visited, a:hover, a:active{
  color: #2F4F4F;
}

ul{
  padding: 0px;
}

.PackageList {
  font-size: 20px;
}

.PackageRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

p{
  margin: 10px;
}

.Service {
  background-color: white;
  color: #2F4F4F;
  height: 500px;
  margin-top: -20px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.serviceFont {
  font-family: 'Muli', sans-serif;
}

.GuestsAll {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px;
  max-height: 100px;
  height: 200px;
  max-height: 100%;
}
.guestLink a {
  color: #2F4F4F;
  font-size: 20px;
  font-variant: small-caps;
  background-color: white;
  padding:20px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #2F4F4F;
  margin: 10px;
}

.ButtonContainer {
  float: left;
}

.GuestButtons {
  margin-right: 20px;
}

.Guest, .GuestNew {
  font-family: 'Muli', sans-serif;
  text-align: left;
  padding-left: 50px;
  font-size: 20px;
  font-variant: small-caps;
  background-color: white;
  margin-top: -20px;
  height: 400px;
}

input {
  background-color: white;
  border: none;
  border-bottom: 1px solid #2F4F4F;
  margin: 2px;
}

.update-button, button {
  border-color: #2F4F4F;
  border: 2px solid;
  border-radius: 10px;
}
