.App {
  text-align: center;
}

.App-title {
  line-height: 0.75em;
  height: 175px;
}

h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 200px;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F4F4F;

}

li {
  list-style-type: none;

}

a {
  color: white;
}

a:hover {
  color: #808080;
  text-decoration: none;
}

.link-style {
  float: center;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}

.spa-image {
  max-width: 100%;
  max-height: 50%;
  margin-top: -20px;
  overflow: hidden;
}

.about {
margin: auto;
font-size: 20px;
color: #2F4F4F;
font-family: 'Muli', sans-serif;
background-color: white ;
height: 350px;
margin-top: -20px;
text-align: left;
}
.about-font {
  padding-left: 50px;
  padding-right: 50px;
}
