.App {
  text-align: center;
}

h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 75px;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.link-style {
    float: left; 
}

.link-style a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link-style a:hover {
  background-color: #111;
}
